<!DOCTYPE html>
<html>
<head>
	<title>First App!</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-light bg-light">
	  <span class="navbar-brand mb-0 h1">Navbar</span>
	</nav>

	<div class="container" style="margin-top: 20px">
		<div class="row">
		  <div class="col-md-6 offset-md-3">
		  	<div class="form-group">
		  		<textarea  class="form-control" id="text"></textarea>
		  		<a href="#" class="btn btn-primary" id="button">Save</a>
		  	</div>
		  </div>
		</div>
	</div>
</body>

<script>
	const electron = require('electron')
	const mainWindow = electron.remote.getCurrentWindow();
  </script>
</script>
</html>